<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->

	<bean id="q1" class="com.model.Question">
		<property name="id" value="1" />
		<property name="name" value="What is Java?" />
		<property name="answer">
			<list>
				<value>Java is Platform</value>
				<value>Java is Programming Language</value>
				<value>Java is coffie name</value>
			</list>
		</property>

	</bean>
</beans>